* {
    background-color: blanchedalmond;
}
h1 {
    text-align: center;
    background-color: #7395ae ;
}
 
#welcome{
    border:2px solid grey;
    margin:5px;
    padding: 5px;
    text-align: center;
}

#modes {
    text-align: center;
}